[credential]
    helper = manager-core
[user]
    name = younger
    email = 45989017+younger-1@users.noreply.github.com
    signingkey = AB04775E81D89564
[core]
    editor = code --wait
    # autocrlf = true
    autocrlf = input
    quotepath = false
    pager = delta
    # pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Solarized (dark)'
[pull]
    rebase = true
[fetch]
    prune = false
[rebase]
    autoStash = true

[alias]
    go = log --all --graph --decorate --oneline
    gg = log --all --graph --pretty='%C(auto)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --color
    ls = log --graph --pretty=format:\"%C(yellow)%h %C(blue)%ad %C(red)%d %C(reset)%s %C(green)[%cn]\" --decorate --date=short
    hist = log --pretty=format:\"%C(yellow)%h %C(red)%d %C(reset)%s %C(green)[%an] %C(blue)%ad\" --topo-order --graph --date=short
    latest = for-each-ref --sort=-committerdate --format=\"%(committerdate:short): @%(committername) \t\t\t\t %(refname:short) \n\t    %(contents)\" --color=auto
    c = commit
    co = checkout
    cp = cherry-pick
    s = status
    ss = status -sb
    b = branch
    sb = show-branch
    d = diff
    dd = diff --stat
    ds = diff --staged
    dt = difftool
    count = rev-list --all --count
    ps = !which onefetch && onefetch
    lf = ls-files
    lt = ls-tree --full-tree -r --name-only HEAD

[delta]
    # syntax-theme = DarkNeon
    # syntax-theme = Dracula
    # side-by-side = true
    # features = line-numbers decorations
    line-numbers = true
    # line-numbers-left-format = "🚀"
    # line-numbers-right-format = "{np:>3}│"
    # minus-style = red bold ul "#ffeeee"
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul
[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[commit]
    gpgsign = true
    template = ~/.gitmessage
[interactive]
    diffFilter = delta --color-only
[color]
    ui = auto
[gui]
    encoding = utf-8
    pruneDuringFetch = true

[merge]
    tool = vscode
    guitool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
    guitool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[init]
    defaultBranch = main
[protocol "http"]
    allow = always
[http]
    sslVerify = false
    postBuffer = 524288000

